@import './Variable.module';

.whole-page {
    background-color: black;
    //background-image: url(https://i.imgur.com/Uw0xt6y.jpg); // TODO: change image hosting service
    // background-image: linear-gradient(to bottom , url(https://i.imgur.com/Uw0xt6y.jpg), black);
    background-size: 100% auto;
    background-repeat: no-repeat;
    // height: 100%;
    // object-fit: fill;
}

.demo-title {
    padding-top: 20;
    font-size: 28px;
    margin-bottom: 0;
    text-align: center;
    color: white;
  
    @media screen and (min-width: $sm) {
      font-size: 34px;
    }
  
    @media screen and (min-width: $md) {
      font-size: 40px;
    }

}

.IO-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 20;
    padding-right: 20;
}

.btn {
    width: 100%;
    // color: white;


    &-container {
        margin-top: 20;
    }
}

.input-frame {
    min-height: 300;
}

.input-title {
    max-width: 100%;
    padding: 0 20 20 20;
    border: solid rgba(173, 203, 224, 0.8) 2px;
    background-color: rgba(60, 60, 60, 0.1);
    width: 694;

    &-h3 {
        font-size: 20px;
        color: white;

        @media screen and (min-width: $sm) {
            font-size: 24px;
        }

        @media screen and (min-width: $md) {
            font-size: 26px;
        }
    }

    &-div {
        max-width: 100%;
    }

    &-text {
        width: 650;
        max-width: 100%;
        font-size: 22;
        color: white;
        color: aquamarine;

        
    }
}

.input-text-field {
    width: 650px;
    max-width: 100%;
    align-items: flex-start;
    color: white;
    padding: 0px;
    & fieldset {
        border: none;
    }
}

.inner-input-text {
    color: white;
    padding: 16px;
    min-height: 150px;
    line-height: 1.43;
    font-size: 20px;
    @media (min-width:600px) {
        font-size: 24px;
    }
    border-radius: 4px;
    border: 1px solid rgb(200, 200, 200);
    &:hover {
        border: 2px solid white;
    }
    &:focus {
        border: 2px solid rgb(235, 250, 173);
    }
}

.input-label-desc {
    color: white;
}

.input-number-container {
    width: 650px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 24px;
    padding-top: 20px;
    justify-content: space-between;
    @media (max-width:643px) {
        justify-content: space-around;
    }
    & fieldset {
        border: none;
    }
}

.input-number-inner-container {
    padding-top: 20px;
}

.inner-input-number {
    color: white;
    font-size: 24px;
    max-width: 150px;
    height: 60px;
    box-sizing: border-box;
    padding: 16px;
    line-height: 1.43;
    // @media (min-width:600px) {
    //     font-size: 24px;
    // }
    border-radius: 4px;
    border: 1px solid rgb(200, 200, 200);
    &:hover {
        border: 2px solid white;
    }
    &:focus {
        border: 2px solid rgb(235, 250, 173);
    }
}

.button {
    background-color: #3c52b2;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #3c52b2;
    }
    width: 100%;
}

.popover {
    padding: 16px;
}

.output-title {
    // margin-top: 30;
    max-width: 100%;
    padding: 0 20 20 20;
    border: solid rgba(173, 203, 224, 0.8) 2px;
    background-color: rgba(60, 60, 60, 0.1);
    width: 694;
    // min-height: 450;

    &-h3 {
        font-size: 20px;
        color: white;
    }

    &-div {
        max-width: 100%;
    }

    &-text {
        width: 650;
        max-width: 100%;
        font-size: 24;
        color: white;
        color: aquamarine;
    }

    &-desc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 28;
    }

    &-desc > p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.output-content {
    min-height: 50%;
    width: 100%;

}

.news {
    color: white;
    font-size: 22;
    padding: 20 20 20 20;
    max-width: 100%;
    word-break: break-all;
    border: 1px solid white;
    border-radius: 5px;
    min-height: 200px;
}

.org {
    color: red;
    display: inline;
}

.per {
    color: greenyellow;
    display: inline;
}

.loc {
    color: DodgerBlue;
    display: inline;
}

.num {
    color: orange;
    display: inline;
}

.en {
    color:palevioletred;
    display: inline;
}

.others {
    color: fuchsia;
}


// div.input-title-text > div {
//     font-size: 24;
// }

// div.input-title-text  textarea {
//     color: white;
// }
