@import './Variable.module';
.whole-page {
    background-color: black;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 20;
    padding-right: 20;
}

.input-text-field {
    width: 76%;
    padding: 0px;
    & fieldset {
        border: none;
    }
    justify-content: center;
    min-height: 70px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.input {
    padding: 0px;
    font-size: 20px;
    @media (min-width:600px) {
        font-size: 24px;
    }
    color: white;
}

.inner-input {
    color: white;
    font-size: 20px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid rgb(200, 200, 200);
    &:hover {
        border: 2px solid white;
    }
    &:focus {
        border: 2px solid rgb(235, 250, 173);
    }
}

.inner-input-edit-field {
    color: white;
    font-size: 22px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid rgb(200, 200, 200);
    &:hover {
        border: 2px solid white;
    }
    &:focus {
        border: 2px solid rgb(235, 250, 173);
    }
    min-height: 200px;
    line-height: 1.43;
}



.button {
    background-color: #3c52b2;
    color: #fff;
    width: 100%;
    &:hover {
        background-color: #fff;
        color: #3c52b2;
    }
}

.editor-field {
    & fieldset {
        border: none;
    }
    box-sizing: border-box;
    color: white;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    align-items: flex-start;
}

.heading {
    font-size: 20px;

}

.accordion {
    background-color: black;
    color: white;
    margin: 20 20 0 20;
    &-expanded {
        border: none;
    }
    &-summary {
        border: 1px solid white;
        border-radius: 5px;
        &-expanded {
            border: none;
        }
    }
}


.content {
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    padding: {
      bottom: 10px;
      top: 10px;
    }

    .content-signature {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: $md) {
            position: sticky;
            top: 5vh;
        }
    }
}

.input-text-field-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: $md) {
        overflow-y: scroll;
        max-height: 90vh;
    }
}

.tag-name {
    font-size: 24;
    width: 20%;
    text-align: center;
    align-self: center;
    line-break: anywhere;
}

.news {
    color: white;
    font-size: 22;
    padding: 20 20 20 20;
    max-width: 100%;
    word-break: break-all;
    border: 1px solid white;
    border-radius: 5px;
    min-height: 200px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.num {
    color: orange;
}

.per {
    color: greenyellow;
}

.org {
    color: red;
}

.loc {
    color: DodgerBlue;
}

.en {
    color: palevioletred;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    border: 2px solid rgb(30, 30, 30);
  }

/* Works on Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgb(100, 100, 100) rgb(30, 30, 30);
  }