@import './Variable.module';
.footerbackground {
    display: flex;
    justify-content: center;
    padding: 20px;
    // background-color: black;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(https://i.imgur.com/t4a1Tmq.jpg);
    width: 100%;
    color: #fff;
}

.logo {
    height: auto;
    max-width: 100px;
    width: 100px;
}