@import './Variable.module';

.toolbar {
  background-image:
    linear-gradient(to bottom, rgba($color: #000, $alpha: 0.05), rgba($color: #000, $alpha: 0.7)),
    url('../res/image/header_footer_background.jpg');
  display: grid;
  grid-template-areas: 'icon logo .';
  // we're using 36px for the icon cuz the size of the content is 24(width) + 12*2(padding) - 12(edgeStart margin)
  grid-template-columns: 36px 100px 36px;
  justify-content: space-between;
}

.menu-icon {
  background-color: rgba($color: #424242, $alpha: 0.7);
  grid-area: 'icon';

  &:hover {
    background-color: rgba($color: #424242, $alpha: 0.9);
  }
}

.logo-link {
  align-self: center;
  grid-area: 'logo';
  justify-self: center;

  .logo {
    height: auto;
    justify-self: center;
    width: 100px;
  }
}

.list {
  width: 250px;

  &-item- {
    &icon {
      color: #fff;
    }

    &text {
      color: #fff;
      font-size: 16px;
    }

    &sub {
      color: #fff;
      padding-left: 32px;
    }
  }
}

.paper-root {
  background-color: #414147;
}
